@font-face{
    font-family: 'Mi fuente';
    src: url ('IndieFlower.ttf')
}

h1{
    font-family: 'Mi fuente","courier new';
    font-size: 45px;
}

.table {
    
font-family: Arial, Helvetica;
width: 100%;
border-collapse: collapse;

}

.table th {
    border: 1px solid #E65100;
    padding: 8px;
    background-color:  #FFA726;
}
.table td {
    border: 1px solid #E65100;
    padding: 8px;
    text-align: center;
}

.table tr:hover{
    background-color:  #E65100;
}

a {font-size: medium ; color: rgb(4, 94, 197)}
